<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>
        Algo Trading - Python
    </title>
    <style>
   .button {
      background-color: #53a5b0;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .center {
      text-align: center;
    }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
   function startAlgo() {
      var url =  "http://localhost:8080" + "/apis/algo/start"
      var data = {};
      $.post(url, {},
        function(data, status, xhr) {
          if (data.redirect) {
            window.location.href = data.redirect;
          } else {
            alert('status: ' + status + ', data: ' + JSON.stringify(data));
          }
        },
        'json'
      );
    }

    </script>
</head>
<meta content="10" http-equiv="refresh"/>
<br/>
<div>
    Main Summary
</div>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>tradingSymbol</th>
        <th>direction</th>
        <th>qty</th>
        <th>entry</th>
        <th>initialStopLoss</th>
        <th>stopLoss</th>
        <th>cmp</th>
        <th>pnl</th>
        <th>pnlPercentage</th>
        <th>exit</th>
        <th>exitReason</th>
        <th>tradeState</th>
        <th>strategyCurrentPNL</th>
        <th>strategySL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>BANKNIFTY2161035000CE</td>
        <td>SHORT</td>
        <td>50</td>
        <td>94.525</td>
        <td>122.85</td>
        <td>98.3</td>
        <td>92.5</td>
        <td>-196.25</td>
        <td>-4.15</td>
        <td>98.45</td>
        <td>TRAIL SL HIT</td>
        <td>completed</td>
        <td>-196.25</td>
        <td>-13500</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161035000PE</td>
        <td>SHORT</td>
        <td>50</td>
        <td>183.95</td>
        <td>238.85</td>
        <td>238.85</td>
        <td>259.3</td>
        <td>-2752.5</td>
        <td>-29.93</td>
        <td>239.0</td>
        <td>SL HIT</td>
        <td>completed</td>
        <td>-2948.75</td>
        <td>-13500</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161035400CE</td>
        <td>SHORT</td>
        <td>100</td>
        <td>23.1</td>
        <td>29.65</td>
        <td>16.35</td>
        <td>0.8</td>
        <td>2230.0</td>
        <td>96.54</td>
        <td>0.8</td>
        <td>SQUARE OFF</td>
        <td>completed</td>
        <td>-723.75</td>
        <td>-13500</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161034600PE</td>
        <td>SHORT</td>
        <td>100</td>
        <td>45.0</td>
        <td>59.55</td>
        <td>56.6</td>
        <td>52.7</td>
        <td>-1200.0</td>
        <td>-26.67</td>
        <td>57.0</td>
        <td>TRAIL SL HIT</td>
        <td>completed</td>
        <td>-1923.75</td>
        <td>-13500</td>
    </tr>
    </tbody>
</table>
<br/>
<div>
    Placed Order Summary
</div>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>tradingSymbol</th>
        <th>exchange</th>
        <th>productType</th>
        <th>orderType</th>
        <th>price</th>
        <th>triggerPrice</th>
        <th>qty</th>
        <th>orderId</th>
        <th>orderStatus</th>
        <th>averagePrice</th>
        <th>filledQty</th>
        <th>pendingQty</th>
        <th>orderPlaceTimestamp</th>
        <th>lastOrderUpdateTimestamp</th>
        <th>message</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>BANKNIFTY2161035000CE</td>
        <td>NSE</td>
        <td>MIS</td>
        <td>MARKET</td>
        <td>0</td>
        <td>0</td>
        <td>50</td>
        <td>210610001115802</td>
        <td>COMPLETE</td>
        <td>94.525</td>
        <td>50</td>
        <td>0</td>
        <td>1623298502</td>
        <td>1623298502</td>
        <td>None</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161035000PE</td>
        <td>NSE</td>
        <td>MIS</td>
        <td>MARKET</td>
        <td>0</td>
        <td>0</td>
        <td>50</td>
        <td>210610001115856</td>
        <td>COMPLETE</td>
        <td>183.95</td>
        <td>50</td>
        <td>0</td>
        <td>1623298502</td>
        <td>1623298502</td>
        <td>None</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161035400CE</td>
        <td>NSE</td>
        <td>MIS</td>
        <td>MARKET</td>
        <td>0</td>
        <td>0</td>
        <td>100</td>
        <td>210610001116051</td>
        <td>COMPLETE</td>
        <td>23.1</td>
        <td>100</td>
        <td>0</td>
        <td>1623298502</td>
        <td>1623298502</td>
        <td>None</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161034600PE</td>
        <td>NSE</td>
        <td>MIS</td>
        <td>MARKET</td>
        <td>0</td>
        <td>0</td>
        <td>100</td>
        <td>210610001115985</td>
        <td>COMPLETE</td>
        <td>45</td>
        <td>100</td>
        <td>0</td>
        <td>1623298502</td>
        <td>1623298502</td>
        <td>None</td>
    </tr>
    </tbody>
</table>
<br/>
<div>
    Sl Order Summary
</div>
<br/>
<table border="1">
    <thead>
    <tr>
        <th>tradingSymbol</th>
        <th>exchange</th>
        <th>productType</th>
        <th>orderType</th>
        <th>price</th>
        <th>triggerPrice</th>
        <th>qty</th>
        <th>orderId</th>
        <th>orderStatus</th>
        <th>averagePrice</th>
        <th>filledQty</th>
        <th>pendingQty</th>
        <th>orderPlaceTimestamp</th>
        <th>lastOrderUpdateTimestamp</th>
        <th>message</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>BANKNIFTY2161035000CE</td>
        <td>NSE</td>
        <td>MIS</td>
        <td>SL_MARKET</td>
        <td>0</td>
        <td>98.3</td>
        <td>50</td>
        <td>210610001116035</td>
        <td>COMPLETE</td>
        <td>98.45</td>
        <td>50</td>
        <td>0</td>
        <td>1623298502</td>
        <td>1623305518</td>
        <td>None</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161035000PE</td>
        <td>NSE</td>
        <td>MIS</td>
        <td>SL_MARKET</td>
        <td>0</td>
        <td>238.85</td>
        <td>50</td>
        <td>210610001116096</td>
        <td>COMPLETE</td>
        <td>239</td>
        <td>50</td>
        <td>0</td>
        <td>1623298502</td>
        <td>1623298502</td>
        <td>None</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161035400CE</td>
        <td>NSE</td>
        <td>MIS</td>
        <td>SL_MARKET</td>
        <td>0</td>
        <td>16.35</td>
        <td>100</td>
        <td>210610001116160</td>
        <td>CANCELLED</td>
        <td>0</td>
        <td>0</td>
        <td>100</td>
        <td>1623298503</td>
        <td>1623317714</td>
        <td>None</td>
    </tr>
    <tr>
        <td>BANKNIFTY2161034600PE</td>
        <td>NSE</td>
        <td>MIS</td>
        <td>SL_MARKET</td>
        <td>0</td>
        <td>56.6</td>
        <td>100</td>
        <td>210610001116220</td>
        <td>COMPLETE</td>
        <td>57</td>
        <td>100</td>
        <td>0</td>
        <td>1623298503</td>
        <td>1623298654</td>
        <td>None</td>
    </tr>
    </tbody>
</table>
<div>
    END
</div>
</html>